.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.contact-container-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px dotted #000;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container-form div {
  text-align: center;
}

.contact-container-form label {
  margin: 10px 0 5px;
  font-size: 1rem;
  color: #000;
}

.contact-container-form input,
.contact-container-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-container-form button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-container-form button:hover {
  background-color: #0056b3;
}

.message-card {
  width: fit-content;
  height: 10vh;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.honeycomb-container-high {
  background-color: #f5f5f5;
}

.honeycomb-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.honeycomb {
  width: 10vw;
  height: 10vh;
  background-color: gray;
  margin: 5px;
  position: relative;
  animation: glowing 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 1px;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px gray;
  }
  50% {
    box-shadow: 0 0 20px gray, 0 0 40px gray, 0 0 60px gray;
  }
  100% {
    box-shadow: 0 0 5px gray;
  }
}
