<h1>{{ name }}</h1>

<div class="Package-information">
  <p>Package Information</p>
  <p>Created on : {{ createdOn }}</p>
  <p>Modified on : {{ modifiedOn }}</p>
  <p>Author : {{ author }}</p>
  <p>description : {{ description }}</p>
  <p>maintainers : {{ maintainers }}</p>
  <p>license : {{ license }}</p>
</div>

<h1>Uploaded on</h1>
<div class="Package-information-date">
  <div *ngFor="let item of date">
    <p>{{ item.key }} : {{ item.value }}</p>
  </div>
</div>

<h2>How to use</h2>
<div class="Package-information">
  <h3>for Javascript</h3>
  <p>const database = require('roboticdb/src/brain');</p>
  <p>
    {{ ex }}
  </p>
</div>

<div class="Package-information">
  <h3>for Typescript</h3>
  <p>const database = require('roboticdb/src/brain');</p>
  <p>import Brain from 'roboticdb/types/brain';</p>
  <p>export const brain: Brain = new database();</p>
  <p>{{ ex2 }}</p>
</div>

<h2>List of function</h2>
<div class="Package-information">
  <ul>
    <li>write()</li>
    <li>read()</li>
    <li>getById()</li>
    <li>getByProperties()</li>
    <li>edit()</li>
    <li>props()</li>
    <li>count()</li>
    <li>ImportCsv()</li>
    <li>ExportCsv()</li>
    <li>unwind()</li>
  </ul>
</div>
